body {
  /* background-color: #000000; */
  font-family: "Montserrat", sans-serif;
  background: #f2f3f7;
}
footer {
  /* background-color: #000000; */
  /* background: #0a0a0a; */
  background-color: white;
}
a {
  color: #777;
}
a:hover {
  text-decoration: none;
  color: #000;
}
nav {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #1c1b1b !important;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: white;
  /* background-color: #393939; */
  /* background-color: #0a0a0a; */
  border-bottom: gray solid 1px;
  font-size: 12px;
  /* background-color: #212529; */
  /* background: rgba(255, 255, 255, 0.1); */
}
.dropdown-menu {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #1c1b1b !important;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: white;
  border-bottom: gray solid 1px;
  font-size: 12px;
}
/* .dropdown-item {
  color: white;
} */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
img.img {
  width: 100%;
}
.container-port {
  /* background: #323232; */
  background: #f2f3f7;
  border-radius: 5px;
}
/* Parallaxie */
.parallaxie {
  padding-bottom: 40px;
  /* background-color: white; */
}
.parallax-title {
  padding-top: 80px;
  font-size: 20px;
  color: black;
  letter-spacing: 0.2em;
  /* color: white; */
  /* color: #2a2a2a; */
  /* -webkit-text-stroke: 2px white; */
  /* -webkit-text-stroke: 2px black; */
}
.thumbnail-box {
  border-radius: 10px;
}
/* #main_art_bg {
  margin-top: 30px;
  height: 50px;
  position: relative;
  z-index: -1;
}
#main_vdo_bg {
  height: 50px;
  position: relative;
  background: url("../images/mountain.jpg");
  z-index: -1;
}  */
#art-parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: url("../images/art.jpg"); */
  /* background-color: #000000; */
  z-index: -1;
}

#vdo-parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: url("../images/vdo.png"); */
  /* background-color: #000000; */
  z-index: -1;
}
/* services box */
.services-box {
  margin-bottom: 40px;
  padding: 2em;
  /* background: rgba(255, 255, 255, 0.1); */
  background: #0a0a0a;
  width: 100%;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 0 20px 69px -27px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 20px 69px -27px rgba(0, 0, 0, 0.17);
  box-shadow: 0 20px 69px -27px rgba(0, 0, 0, 0.17);
}
.services-box .icon {
  display: block;
  margin-bottom: 40px;
}
.services-box .desc h3 {
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}
.services-box:hover {
  color: black;
  background-color: white;
  /* color: white; */
  border: #0a0a0a 1px solid;
}
/* about */
#about-detail {
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: #f2f3f7;
  width: 100%;
  border-radius: 10px;
  /* color: white; */
  color: #0a0a0a;
}
/* skill */
.skill-img {
  max-width: 80px;
}
/* EXP */
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2a2a2a;
  /* background: #f2f3f7; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  /* box-shadow: 0 0 0 5px #2a2a2a; */
  line-height: 40px;
  float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f2f3f7;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 20px;
  font-weight: 500;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-none {
  background: #fff;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.timeline-centered:before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  background: #2b2b2b;
  top: 20px;
  bottom: 20px;
  margin-left: 29px;
}
/* Education */
.panel-title {
  font-size: 20px;
}
/* footer */
#footer-url {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.footer-link {
  font-size: 16px;
}
.footer-link:hover {
  color: #0a0a0a;
}
.footer-social-icon:hover {
  color: #0a0a0a;
  text-decoration: none;
}
.footer-social-icon i {
  font-size: 36px;
  text-decoration: none;
}
.footer-social-icon i:hover {
  color: #0a0a0a;
  text-decoration: none;
}
.footer-copyright {
  font-size: 12px;
}
.footer-link-copyright {
  font-size: 12px;
}
/* go top button */
#facebook-icon {
  width: 50px;
  position: fixed;
  top: 150px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
#line-icon {
  width: 50px;
  position: fixed;
  top: 200px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
#goTop {
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

#goTop:hover {
  opacity: 0.5;
}

.section {
  padding: 3rem 0;
}
.link-footer > li > a:hover {
  color: white;
  text-decoration: none;
}
.filters a {
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.filters a:hover,
.filters a:focus,
.filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #000;
}

.my-gallery figcaption {
  display: none;
}
.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.item {
  border: none;
  margin-bottom: 30px;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap > .work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.item .item-wrap > .work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.testimonial-wrap {
  padding: 50px 50px 80px 50px;
  background: #eceff2;
}

.testimonial-wrap .testimonial {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.testimonial-wrap .testimonial img {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto 30px auto;
}

.testimonial-wrap .testimonial blockquote p {
  font-size: 20px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

.testimonial-carousel .owl-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.testimonial-carousel .owl-dots .owl-dot {
  display: inline-block;
}

.testimonial-carousel .owl-dots .owl-dot > span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #cbd3da;
  border-radius: 50%;
  margin: 5px;
}

.testimonial-carousel .owl-dots .owl-dot.active {
  outline: none;
}

.testimonial-carousel .owl-dots .owl-dot.active > span {
  background: #0d1e2d;
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

.form-control {
  border-radius: 0;
  background: #f8f9fa;
  border: 1px solid transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.form-control:active,
.form-control:focus {
  background: #eff1f4;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.custom-progress {
  height: 7px;
  border-radius: 0;
}

.custom-progress .progress-bar {
  background: #000;
}

/* Contact Form */
.php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br + br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
/* Custom Navmenu */
.custom-navmenu {
  /* background: #0d1e2d; */
  /* background-color: #393939; */
  background: #0a0a0a;
}

.custom-navmenu .custom-menu,
.custom-navmenu .custom-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-navmenu .custom-menu li {
  margin-bottom: 0;
  font-size: 20px;
}

.custom-navmenu .custom-menu li a {
  color: #fff;
  padding: 10px 0 !important;
}

.custom-navmenu .custom-menu li a:hover {
  text-decoration: none;
}

.custom-navmenu .custom-menu li.active a {
  text-decoration: underline;
}

.custom-navmenu h3 {
  font-size: 20px;
  color: #fff;
}

.custom-navmenu p {
  color: rgba(255, 255, 255, 0.6);
}

.custom-navmenu a {
  color: rgba(255, 255, 255, 0.7);
}

.custom-navmenu a:hover {
  color: #fff;
}

/* Custom Navbar */
.custom-navbar {
  padding-top: 50px;
  width: 100%;
}

@media (max-width: 780px) {
  .custom-navbar > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.custom-navbar .navbar-brand {
  font-size: 1.7rem;
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #ffffff;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before,
.burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

/* Hover */
.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  transform: rotate(45deg);
}

.burger.active:after {
  transform: rotate(-45deg);
}

.burger:focus {
  outline: none;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
  padding: 0 0 4rem 0;
}

.footer a {
  color: #000;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  color: #0d1e2d;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #000;
}
